/*Elements*/
* {
    box-sizing: inherit;
}
a, button {
    cursor: pointer;
}
b {
    font-weight: bolder;
}
body, html {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
body {
    font-family: "Lato", sans-serif;
    margin: 0;
}
button {
    border: none;
}
button, img {
    vertical-align: middle;
}
button, input {
    font: inherit;
}
h2 {
    font-size: 30px;
}
h2, h3 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
h3 {
    font-size: 24px;
}
input {
    padding: 8px;
    border: 1px solid #ccc;
}


/*Repititve||Utility Classes*/

/*Normal Classes*/
    .align-center {
        text-align: center;
    }
    .align-left {
        text-align: left;
    }
    .bar {
        overflow: hidden;
    }
    .black {
        background-color: black;
        color: white;
    }
    .black-color {
        color: black;
    }
    .border-box {
        box-sizing: border-box;
    }
    .common-div {
        max-width: 768px;
        margin: 0 auto;
        padding: 64px 16px;
    }
    .common-margin {
        margin-bottom: 16px;
    }
    .common-padding {
        padding: 8px 16px;
    }
    .common-width {
        width: 33.33333%;
    }
    .display-block {
        display: block;
    }
    .display-flex {
        display: flex;
    }
    .display-none {
        display: none;
    }
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
    .font-size-24 {
        font-size: 24px;
    }
    .green {
        background-color: #009688;
    }
    .height {
        height: 100%;
    }
    .letter-spacing {
        letter-spacing: 4px;
    }
    .margin-16-0 {
        margin: 16px 0;
    }
    .opacity-0dot6 {
        opacity: 0.6;
    }
    .padding-32-0 {
        padding: 32px 0;
    }
    .position-absolute {
        position: absolute;
    }
    .position-fixed {
        position: fixed;
    }
    .position-relative {
        position: relative;
    }
    .red {
        background-color: #f44336;
    }
    .shadow {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .text-div {
        padding: 0.15px 16px;
    }
    .top {
        top: 0;
    }
    .white {
        background-color: white;
    }
    .white-color {
        color: white;
    }
    .width {
        width: 100%;
    }
    .width-49 {
        width: 49.99999%;
    }

.hover:hover {
    color: black;
    background-color: #ccc;
}


/*Menu Bar*/

/*Ids*/
    #menu-div {
        z-index: 1;
        
    }
    #submenu {
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
        width: 160px;
    }
    #menu-bar a {
        padding: 12px 24px;
        text-decoration: none;
    }

    /*Hover Rule*/
        #display-submenu:hover #more-menu {
            color: black;
            background-color: #ccc;
        }
        #display-submenu:hover #submenu {
            display: block;
        } 

        #search-menu:hover {
            background-color: #f44336;
        }

        #submenu a:hover {
            background-color: #ccc;
        }

.submenu-position {
    top: 47px;
}

/*Slideshow Section*/
.img-div {
    height: 93.9%;
}
.text-holder {
    bottom: 0;
}

.img-div img{
    margin-top: 46.5px;
}

/*Band Section*/
/*Ids*/
    #band-members img {
        width: 60%;
        border-radius: 4px;
    }

.align-justify {
    text-align: justify;
}

/*Tour Section*/

@keyframes animatetop {
    0% {
        top: -300px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

/*Ids*/
    #background-div {
        background-color: rgba(0,0,0,0.4);
        padding-top: 100px;
    }
    #circular-span {
        margin: 0 16px 0 0;
        border-radius: 50%;
    }
    #form-div {
        margin: 0 auto;
        width: 600px;
        animation: animatetop 0.4s;
    }
    #form-header {
        padding: 32px 16px;
    }
    #hidden-section {
        z-index: 3;
        left: 0;
        overflow: auto;
    }
    #pay-btn {
        padding: 16px;
        width: 100%;
        box-sizing: border-box;
    }
    #ticket-section {
        margin: 0 -16px;
        padding: 32px 8px;
        width: 102.08%;
    }

    /*Ids Elements*/
        #form a {
            color: #2196F3;
        }
        #form input {
            width: 100%;
        }
        #form-header i {
            margin-right: 16px;
        }
        #form-header span {
            right: 0;
            cursor: pointer;
        }
        #month-section div{
            border-bottom: 1px solid #ddd;
            color: #757575;
        }
        #month-section span {
            padding-left: 8px;
            padding-right: 8px;
        }

        #form button:hover {
            background-color: #ccc;
            color: black;
        }

/*Classes*/
    .month-span {
        padding: 2px 8px;
        margin-left: 16px;
    }
    .ticket-divs {
        padding: 0 8px;
    }

    /*Class Elements Hover Rule*/
        .ticket-divs img:hover {
                opacity: 0.6;
        }

/*Contact Section*/
#contact {
    padding: 32px 0px;
}
#contact-info {
    margin-bottom: 16px;
    font-size: 18px;
}
#input-holder {
    justify-content: space-between;
}

/*Ids Elements*/
    #contact-info i {
        width: 30px;
    }
    #contact-form div {
        margin-bottom: 4px;
    }
    #contact-form div div {
        width: 48%;
    }
/*Gap Section*/
#gap-img {
    filter: grayscale(50%);
}

/*Footer Section*/
#footer-section {
    padding: 64px 16px;
}
#footer-section p {
    font-size: 15px;
}
#footer-section i:hover {
    opacity: 0.6;
}

